@import '../../stylesheets/variables';

.video-bullets-container {
  margin: 10px auto;
  width: 80%;
  padding: 6% 4% 6% 4%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 10px 15px #E0E6E7;

  .bullet-row {
    display: grid;
    grid-template-columns: 15% 20% 65%;
    font-size: 16px;
    padding: 0.5%;
    background-color: white;
    cursor: pointer;
    @include transition;

    &:hover {
      background-color: rgba(#132A54, 0.1);
      @include transition;
      border-radius: 10px;
    }
    // font-weight: bold;

    .time {
      color: #A6A6A6;
      text-align: center;
    }

    .sender {
      color: $vblack;
      font-weight: bold;
    }

    .text {
      font-weight: normal;
      font-size: 14px;
      color: $vblack;
    }
  }
}