.card-empty {
  background: #FDFDFD;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 16px !important;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.card-container {
  background: #FDFDFD;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 16px !important;
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.card-image {
  border-radius: 16px !important;
  overflow: hidden;
  margin-bottom: 20px;
  max-height: 160px;
}

.card-text {
  display: flex;
  width: '100%';
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
}

.video-card-container {
  position: relative;
  max-height: 160px;
  overflow: hidden;
}

.video-card-image {
  overflow: hidden;
  height: 100%;
}

.video-card-image-overlay {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 100%;
  background: linear-gradient(180deg, rgba(61, 61, 61, 0) 0%, #000000 100%);
}

.video-title-container {
  position: absolute; 
  bottom: 0px; 
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.video-title-text {
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF !important;
  justify-content: flex-end;
  margin-right: 20px;
}

.bullet-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.bullet-container {
  margin: 20px 40px;
  padding-bottom: 20px;
}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}