body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-page-header {
  background-color: #fff;
}

.ant-layout-footer {
  background-color: white;
  padding: 0;
  margin: 0;
}

.ant-card-grid-hoverable {
  cursor: pointer;
}